<%
    speaker_sessions = data.sessions.select { |s| s.speaker_id == speaker.tag }
%>

<section id="speaker-details">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 col-xs-2 col-sm-3 speaker-photo">
                <div>
                    <%= tag :img, 
                            :src => '/images/speakers/' + speaker.tag + '.png', 
                            :alt => speaker.name, 
                            :class => "speaker-headshot grayscale" %>
                    <div class="picture-overlay"></div>
                </div>
            </div>
            <div class="col-9 col-xs-10 col-sm-9 details-content">
                <h1><%= speaker.name %></h1>
                <div class="socials">
                    <ul>
                        <% if speaker.social.twitter != nil && speaker.social.tiwtter != "" %>
                            <li>
                                <a href="<%= twitter_link speaker.social.twitter %>" class="external-link">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        <% end %>
                        <% if speaker.social.linkedin != nil && speaker.social.linkedin != "" %>
                            <li>
                                <a href="<%= linkedin_link speaker.social.linkedin %>" class="external-link">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        <% end %>
                    </ul>
                </div>
                <div class="content-wrapper d-none d-md-block">
                    <%= partial(:speaker_details_content, :locals => { :speaker => speaker, :sessions => speaker_sessions }) %>
                </div>
            </div>
        </div>
        <div class="row d-md-none content-wrapper">
            <div class="col">
                <%= partial(:speaker_details_content, :locals => { :speaker => speaker, :sessions => speaker_sessions }) %>
            </div>
        </div>
    </div>
</section>