<%
    session = data.sessions.find { |s| s.id == schedule_item.session_id }

    if session.nil?
        session = { "title" => "tbd", "speaker_id" => "", "id" => nil }
    end

    speaker = data.speakers.items.find { |s| s.tag == session["speaker_id"] }

    if speaker.nil?
        speaker = { "tag" => "unknown", "name" => "unknown" }
    end
%>

<div class="panel schedule-item">
    <div class="lecture-time-wrapper">
        <%= schedule_item.time %>
    </div>
    <a data-toggle="collapse" href="#schedule-day-<%= day %>-room-<%= room %>-time-<%= time %>" class="schedule-item-toggle collapsed" role="button"> 
        <div class="lecture-speaker-photo">
            <%= tag :img, :src => "/images/speakers/" + speaker["tag"] + '-bw.png', :alt => speaker["name"], :class => "" %>
            <div class="picture-overlay"></div>
        </div>
        <div class="lecture-details">
            <h5><%= session["title"] %></h5>
            <h6><%= speaker["name"] %></h6>
        </div>
        <span class="lnr lnr-chevron-down"></span>
        <span class="lnr lnr-chevron-up"></span>
    </a>

    <div id="schedule-day-<%= day %>-room-<%= room %>-time-<%= time %>" class="panel-collapse collapse schedule-item-body">
        <% if session["id"] != nil %>
            <%= partial "sessions/" + session.id %>
        <% end %>
    </div>
</div>