<div class="card text-center">
    <a href="/speakers/<%= speaker.tag %>" class="stretched-link">
        <%= tag :img, 
                :src => '/images/speakers/' + speaker.tag + '.png', 
                :alt => speaker.name, 
                :class => 'card-img-top speaker-headshot grayscale' %>
        <div class="picture-overlay"></div>    
    </a>
    <div class="card-body">
        <%= speaker.name %>
    </div>
    <div class="card-footer">
        <ul>
            <% if speaker.social.twitter != nil && speaker.social.twitter != "" %>
                <li>
                    <a href="<%= twitter_link speaker.social.twitter %>" class="external-link">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            <% end %>
            <% if speaker.social.linkedin != nil && speaker.social.linkedin != "" %>
                <li>
                    <a href="<%= linkedin_link speaker.social.linkedin %>" class="external-link">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
            <% end %>
        </ul>
    </div>
</div>